<?xml version="1.0"?>
<robot name="iiwa7_wsg50" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_name" default="iiwa7" />
    <xacro:arg name="mode" default="mock" />
    <xacro:arg name="system_config_path" default="$(find lbr_description)/ros2_control/lbr_system_config.yaml" />
    <xacro:arg name="initial_joint_positions_path" default="$(find lbr_description)/ros2_control/initial_joint_positions.yaml" />

    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7_description.xacro" />
    <xacro:include filename="$(find wsg50_description)/urdf/wsg50.urdf.xacro" />

    <link name="world" />
    <joint name="$(arg robot_name)_world_joint" type="fixed">
        <parent link="world" />
        <child link="$(arg robot_name)_link_0" />
    </joint>

    <xacro:iiwa7
        robot_name="$(arg robot_name)"
        mode="$(arg mode)"
        system_config_path="$(arg system_config_path)"
        initial_joint_positions_path="$(arg initial_joint_positions_path)" />

    <!-- Mechanical mounting of the WSG50 to the iiwa end-effector. -->
    <xacro:wsg50 prefix="wsg50" parent="$(arg robot_name)_link_ee"
                 finger_length="0.023" finger_tip="-0.001">
        <!-- 50 degrees around the iiwa end-effector Z axis. -->
        <origin xyz="0 0 0" rpy="0 0 0.872665" />
    </xacro:wsg50>

</robot>
