<?xml version="1.0"?>
<!-- WSG50-110 description adapted from KITrobotics/weiss_wsg50. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="wsg50_gray"><color rgba="0.45 0.45 0.45 1.0"/></material>
  <material name="wsg50_dark_green"><color rgba="0.02 0.22 0.06 1.0"/></material>
  <xacro:macro name="wsg50" params="prefix parent *origin">
    <joint name="${prefix}_palm_joint" type="fixed"><xacro:insert_block name="origin"/><parent link="${parent}"/><child link="${prefix}_palm_link"/></joint>
    <link name="${prefix}_palm_link">
      <inertial><mass value="0.25"/><origin xyz="0 0 0"/><inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/></inertial>
      <visual><geometry><mesh filename="package://wsg50_description/meshes/WSG50_110.stl"/></geometry><material name="wsg50_gray"/></visual>
      <collision><geometry><mesh filename="package://wsg50_description/meshes/WSG50_110.stl" scale="0.001 0.001 0.001"/></geometry></collision>
    </link>
    <joint name="${prefix}_finger_left_joint" type="prismatic"><origin xyz="0 0 0.0819"/><parent link="${prefix}_palm_link"/><child link="${prefix}_finger_left_link"/><axis xyz="-1 0 0"/><limit effort="10" lower="-0.055" upper="0" velocity="0.42"/></joint>
    <link name="${prefix}_finger_left_link"><inertial><mass value="0.25"/><origin xyz="0 0 0"/><inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/></inertial><visual><origin xyz="0.01975 0 0" rpy="1.5707963267948966 3.141592653589793 -1.5707963267948966"/><geometry><mesh filename="package://wsg50_description/meshes/Kuka_Greifer.STL" scale="0.001 0.001 0.001"/></geometry><material name="wsg50_dark_green"/></visual><collision><origin xyz="0.01975 0 0" rpy="1.5707963267948966 3.141592653589793 -1.5707963267948966"/><geometry><mesh filename="package://wsg50_description/meshes/Kuka_Greifer.STL" scale="0.001 0.001 0.001"/></geometry></collision></link>
    <joint name="${prefix}_finger_right_joint" type="prismatic"><origin xyz="0 0 0.0819" rpy="0 0 ${pi}"/><parent link="${prefix}_palm_link"/><child link="${prefix}_finger_right_link"/><axis xyz="1 0 0"/><limit effort="10" lower="0" upper="0.055" velocity="0.42"/></joint>
    <link name="${prefix}_finger_right_link"><inertial><mass value="0.25"/><origin xyz="0 0 0"/><inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/></inertial><visual><origin xyz="0.0235 0 0" rpy="1.5707963267948966 3.141592653589793 -1.5707963267948966"/><geometry><mesh filename="package://wsg50_description/meshes/Kuka_Greifer.STL" scale="0.001 0.001 0.001"/></geometry><material name="wsg50_dark_green"/></visual><collision><origin xyz="0.0235 0 0" rpy="1.5707963267948966 3.141592653589793 -1.5707963267948966"/><geometry><mesh filename="package://wsg50_description/meshes/Kuka_Greifer.STL" scale="0.001 0.001 0.001"/></geometry></collision></link>
  </xacro:macro>
</robot>
